[submodule "testdata/case/antlr-php-functions"]
	path = testdata/case/antlr-php-functions
	url = https://github.com/sgtest/antlr-php-functions
[submodule "testdata/case/antlr-php-variables"]
	path = testdata/case/antlr-php-variables
	url = https://github.com/sgtest/antlr-php-variables
[submodule "testdata/case/antlr-php-classes"]
	path = testdata/case/antlr-php-classes
	url = https://github.com/sgtest/antlr-php-classes
[submodule "testdata/case/antlr-php-constants"]
	path = testdata/case/antlr-php-constants
	url = https://github.com/sgtest/antlr-php-constants
[submodule "testdata/case/antlr-php-this"]
	path = testdata/case/antlr-php-this
	url = https://github.com/sgtest/antlr-php-this
[submodule "testdata/case/antlr-php-namespace-in-extends"]
	path = testdata/case/antlr-php-namespace-in-extends
	url = https://github.com/sgtest/antlr-php-namespace-in-extends
[submodule "testdata/case/antlr-php-array-property"]
	path = testdata/case/antlr-php-array-property
	url = https://github.com/sgtest/antlr-php-array-property
